<!DOCTYPE html>
<html>
<head>
  <title>graphit</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/generic_head' %>
</head>
<body >

  <header>
    <div id="logo">
      <a href="/" class="logo">graphit</a>
    </div>
    <div id="buttons">
      <form>
        <input name="q" type="search" placeholder="Search in graph" class="search">
      </form>
      <input name="q" type="button" value="Import your graph data">
    </div>
  </header>
  
  <%= yield %>
  
</body>
</html>
